<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zeta type</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aperiam asperiores consectetur, et expedita impedit nece
    ssitatibus nemo nulla, quod repellat sequi vel vero. Ab
    accusamus accusantium ad aliquam aliquid animi atque aut
    em, beatae consequuntur dolor dolore, dolorem doloribus
    ducimus error expedita hic ipsa laborum molestiae neque
    nisi officia perspiciatis possimus, quidem quod ratione
    recusandae reprehenderit repudiandae saepe sapiente tota
    m unde vel veniam voluptatem. Ad alias at consectetur di
    gnissimos, esse laboriosam obcaecati officia omnis place
    at reiciendis suscipit, temporibus tenetur, voluptatem.
    Aliquam aperiam assumenda consectetur error excepturi, f
    acilis hic ipsa ipsam maiores modi nostrum omnis quas ra
    tione repellat sint soluta sunt vitae voluptas!
</p>

</body>
</html>